<ion-header>
  <ion-content [fullscreen]="true">
    <div style="text-align: center; margin: 20px;">
      <ion-label style="font-weight: 400; font-size: 1.5em;">
        Weather Forecast
      </ion-label>
    </div>
    <ion-searchbar animated [(ngModel)]="cityName"  (ngModelChange)="loadData()"></ion-searchbar>
    <ion-card class="cardStyle" *ngIf="weatherDetails">

      <ion-item lines="none">
        <p style="font-weight: 500; " class="white_text">Today's Report</p>
        <ion-label slot="end" id="date">
          {{todayDay | date :  "EEE dd MMM" }}
        </ion-label>
      </ion-item>

      <ion-item lines="none"> <!-- Remove line -->
        <span id="temp" class="white_text">
          {{(weatherDetails.main.temp  -  273.15).toFixed(0) }}
        </span>
        <span id="tempCele" style="color: rgb(255, 186, 57);">℃</span>
        <img slot="end"  style="height: 120px; width: 130px;" [src]=icon alt="">
      </ion-item>

      <ion-item lines="none"> <!-- Remove line -->
        <ion-icon id="locationIcon" name="location"></ion-icon>
        <span style="font-weight: 300; " class="white_text">{{weatherDetails.name}},{{weatherDetails.sys.country}}</span>
      </ion-item>
    </ion-card>

    <ion-card class="cardStyle" *ngIf="weatherDetails">
      <ion-item lines="none"> <!-- Remove line -->
        <span class="white_text">Maximum Temp</span>
        <span class="white_text" slot="end">{{(weatherDetails.main.temp_max  -  273.15).toFixed(0) }}℃</span>
      </ion-item>
      <ion-item lines="none"> <!-- Remove line -->
        <span class="white_text">Minimum Temp</span>
        <span class="white_text" slot="end">{{(weatherDetails.main.temp_min  -  273.15).toFixed(0) }}℃</span>
      </ion-item>
      <ion-item lines="none"> <!-- Remove line -->
        <span class="white_text">Humidity</span>
        <span class="white_text" slot="end">{{weatherDetails.main.humidity }}%</span>
      </ion-item>
    </ion-card>

    <div *ngIf="!weatherDetails">
      <img src="assets/website-empty-pages.png" alt="">
      <p style="text-align: center; font-weight: bold;font-size: 15px;">Search for the weather <br> in your city..</p>
    </div>
  </ion-content>
</ion-header>
