.cardStyle{
    border-radius: 30px;
    --ion-background-color:rgb(40, 40, 255);  
    padding: 15px;
}

.white_text{
    color: #fff;
}

#temp{
    font-weight: 300;
    font-size: 4em;
    margin: 5px;
}

#locationIcon{
    color: rgb(255, 186, 57);
}

#date{
    color: rgb(255, 186, 57);
}

#tempCele{
    font-weight: 300;
    font-size: 3em;
    margin: 5px;
}